@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(prin.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.logo{

    color: #FFFDFC;;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;

}
#menu{
display: none;

}

.menu-icono{

    width: 25px;


}
.menu label{

    cursor: pointer;
    display: none;

}
.header-txt{
    text-align: center;

}
.header-txt h1{
    font-size: 85px;
    color: #FFFDFC;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.header-txt p{
color: #BEBEBE;
font-size: 16px;
padding: 0  250px;
margin-bottom: 45px;

}
.btn-1{
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #FFFDFC;
    color: #FFFDFC;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}

.btn-1:hover{

    color: #1B293A;
    background-color: #FFFDFC;
}
.general{

    padding: 50px 0;
    text-align: center;
}

.general-content{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.general-1{

    background-image: url(lori-dejong-134LpvimtWw-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFDFC;
    height: 450px;
    padding: 170px 55px;
}
.general-2{

    background-image: url(ganapathy-kumar-5fhcbkOPhwA-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}
.general-3{

    background-image: url(david-courbit-9XzyEzPAHMI-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}
.general-4{

    background-image: url(pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:  #1B293A;
    height: 450px;
    padding: 170px 55px;
}

.general-5{

    background-image: url(giga-khurtsilava-5kwVYW8ZIHo-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFDFC;
    height: 450px;
    padding: 170px 55px;
}
.general-6{
    background-image: url(linda-xu-UGQpaq08Igw-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFDFC;
    height: 450px;
    padding: 170px 55px;
}
    h2{
        font-size: 70px;
        text-transform: uppercase;
        color: #1B293A;
    }
.txt h3{

    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.txt p{
    color: #000000;
    font-size: 16px;
}
.info-1{
    padding: 250px 0;
    background-image: url(konstantin-kopachinsky-WvNRHf9kun0-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.info-content{
    text-align: center;
}
.info-content h2, span{
color: #FFFDFC;
}
.info-circle{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.circle-txt{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    
}
.circle-1{
    height: 100px;
    width: 200px;
    border: 1px solid ##FFFDFC;
    border-radius: 50%;
    padding-top: 35px;
}
.circle-1 h3{
    color: #ebebeb;
    font-size: 16px;

}
.circle-txt p{
    color: #ffffff;
    margin-top: 25px;
}
.info-2{
    padding: 250px 0;
    background-image: url(sc.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.testi{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 35px;

}
.testi-left{
    width: 50%;
    padding-right: 25px;
}
.testi-rightt{
    width: 50%;
    padding-left: 35px;
}
.testi-txt{
    margin-bottom: 25px;
}
.testi-txt img{
    width: 50px;
    margin-bottom: 15px;


    
}
.testi-txt h3{
    font-size: 20px;
    color: #FFFDFC;


}
.testi-txt p {
    color: #FFFDFC;
    font-size: 16px;

}
.footer{
    padding: 100px 0 0 0;
    text-align: center;
}

.form{
    margin-top: 35px;
}
.campo{
margin-right: 10px;
padding: 17px 35px;
border: 2px solid #b4b4b4;
outline: none;
color: #1B293A;
}
.campo ::placeholder{
    color: #b4b4b4;

}
.btn-2{
    padding: 17px 35px;
    border: 2px solid #1B293A;
    color: #FFFDFC;
}

.footer-txt{
    margin-top: 100px;
    border-top: 1px solid #b4b4b4;
    padding: 20px 0;
}
.footer-txt p{
    color: #1B293A;
    font-size: 16px;
}







